<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">


    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#show").click(function () {
                $("p").show();
                $(container4).css('border', "3px solid #000000");
                $(container4).css('width', "600px");
                $(container4).css('height', "300px");
            });
        });
    </script>

    <style type="text/css">
        .borderShadow {
            box-shadow: 5px 5px 22px 0px #d3d576;
        }

    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-3d.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!--<link rel="shortcut icon" href="assets/images/gt_favicon.png">-->
    <style type="text/css">
        .chartSize {
            height: 100%;
            width: 50%;
            position: relative;
        }

        .scrollit {
            overflow: scroll;
            height: 350px;
        }
    </style>

<!--Dynamic Charts-->
    <script type="text/javascript">
        function generateMeterResults() {


            $(function () {
                $('#container-speed').highcharts({
                    title: {
                        text: 'Stock rate prediction',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'Team: Data Crunchers',
                        x: -20
                    },
                    xAxis: {
                        categories: ['2012', '2013', '2014', '2015']
                    },
                    yAxis: {
                        title: {
                            text: 'Stock rate'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: ''
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                        name: 'Company Stock',
                        <!--shareValues[0],shareValues[1],shareValues[2],shareValues[3]-->
                        data:  [
                            <%= shareValues[0] %>,
                            <%= shareValues[1] %>,
                            <%= shareValues[2] %>,
                            <%= shareValues[3] %>
                        ]

                    }]
                });
            });

            $(function () {

                var scatterChart={
                    chart: {
                        type: 'scatter',
                        zoomType: 'xy'
                    },
                    title: {
                        text: 'Twitter Sentiments Clustering'
                    },
                    subtitle: {
                        text: 'Source: Twitter Data'
                    },
                    xAxis: {
                        title: {
                            enabled: true,
                            text: 'Feature: <%= feature1Words %>'
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true
                    },
                    yAxis: {
                        title: {
                            text: 'Feature: <%= feature2Words %>'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        verticalAlign: 'top',
                        x: 100,
                        y: 70,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                        borderWidth: 1
                    },
                    plotOptions: {
                        scatter: {
                            marker: {
                                radius: 5,
                                states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(100,100,100)'
                                    }
                                }
                            },
                            states: {
                                hover: {
                                    marker: {
                                        enabled: false
                                    }
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{series.name}</b><br>',
                                pointFormat: '{point.x} , {point.y} '
                            }
                        }
                    },
                    series: []
                }
                var decrease = {
                    name: 'Stock Decrease',
                    color: 'rgba(223, 83, 83, .5)',
                    data:  []
                };
                var increase = {
                    name: 'Stock Increase',
                    color: 'rgba(119, 152, 191, .5)',
                    data:  []
                };
                <!-- cluster 1 always Stock decrease and 2 always stock increase-->
                <% if(feature1Sentiment < feature2Sentiment){
                    for(var i=0;i<clusters[0].length;++i){%>
                        decrease.data.push(<%= clusters[0][i]%>);
                    <%};
                    console.log("decrease.data=");
                    for(var i=0;i<clusters[1].length;++i){%>
                        increase.data.push(<%= clusters[1][i]%>);
                    <%}
                }
                else{
                    for(var i=0;i<clusters[0].length;++i){%>
                        increase.data.push(<%= clusters[0][i]%>);
                    <%}
                    for(var i=0;i<clusters[1].length;++i){%>
                        decrease.data.push(<%= clusters[1][i]%>);
                    <%}
                }%>

            scatterChart.series.push(decrease);
            scatterChart.series.push(increase);
            $('#container10').highcharts(scatterChart);
        });



    }


    $(function () {
        <%  if (data.length > 0 && data != 'undefined' && data != null && data) {

        console.log(JSON.stringify(data));
        %>

            $('#container1').highcharts({
                        chart: {
                            backgroundColor: 'white',
                            type: 'column'
                        },
                        title: {
                            text: ' <%= comp1[0].Company_Name.toString().toUpperCase() %>'
                        },
                        /*  subtitle: {
                         text: 'Source: WorldClimate.com'
                         }, */

                        xAxis: {
                            categories: [
                                'Current Assests',
                                'Liability',
                                'Gross Profit',
                                'Total Revenue',
                                'EBITDA',
                                'Gross Margin',
                                'Cash Equivalent'

                            ],
                            crosshair: true
                        }
                        ,
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Amount '
                            }
                        }
                        ,
                        tooltip: {
                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.1f} bn</b></td></tr>',
                            footerFormat: '</table>',
                            shared: true,
                            useHTML: true
                        }
                        ,
                        plotOptions: {
                            column: {
                                pointPadding: 0,
                                borderWidth: 0
                            }
                        }
                        ,
                        series: [{

                            name: "<%= comp1[0].Year %>",
                            data: [
                                <%= comp1[0].Total_Current_Assets %>,
                                <%= comp1[0].Total_Liabilities %>,
                                <%= comp1[0].Gross_Margin %>,
                                <%= comp1[0].total_revenue %>,
                                <%= comp1[0].EBITDA %>,
                                <%= comp1[0].Cash_and_Cash_Equivalents %>
                            ]

                        }, {

                            name: "<%= comp1[1].Year %>",
                            data: [
                                <%= comp1[1].Total_Current_Assets %>,
                                <%= comp1[1].Total_Liabilities %>,
                                <%= comp1[1].Gross_Margin %>,
                                <%= comp1[1].total_revenue %>,
                                <%= comp1[1].EBITDA %>,
                                <%= comp1[1].Cash_and_Cash_Equivalents %>
                            ]
                        },
                            {

                                name: "<%= comp1[2].Year %>",
                                data: [
                                    <%= comp1[2].Total_Current_Assets %>,
                                    <%= comp1[2].Total_Liabilities %>,
                                    <%= comp1[2].Gross_Margin %>,
                                    <%= comp1[2].total_revenue %>,
                                    <%= comp1[2].EBITDA %>,
                                    <%= comp1[2].Cash_and_Cash_Equivalents %>
                                ]
                            }]
                    }
            );



            <%}%>


            $('#container3').highcharts({
                chart: {
                    backgroundColor: 'white',
                    type: 'column',
                    options3d: {
                        enabled: true,
                        alpha: 45
                    }
                },
                title: {
                    text: 'Tweets Polarity'
                },
                subtitle: {
                    text: "[ <%= comp1[0].Company_Name.toString().toUpperCase() %>]"
                },
                plotOptions: {
                    pie: {
                        innerSize: 100,
                        depth: 45
                    }
                },
                series: [{
                    name: 'Tweets Polarity',
                    data: [
                        ['Neutral', <%= polarity[2] %>],
                        ['Negative', <%= polarity[1] %>],
                        ['Positive', <%= polarity[0] %>]


                    ]
                }]
            });


        });

    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

    <![endif]-->

<!--Static Charts-->

    <script type="text/javascript">
        $(function () {
            $('#container11').highcharts({
                title: {
                    text: 'Stock rate prediction',
                    x: -20 //center
                },
                subtitle: {
                    text: 'Team: Data Crunchers',
                    x: -20
                },
                xAxis: {
                    categories: ['2012', '2013', '2014', '2015']
                },
                yAxis: {
                    title: {
                        text: 'Stock rate'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: ''
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: 'Company Stock',
                    data: [701, 980, 520, 729]}]
            });
        });
    </script>
<body>

<a id="menu-toggle" href="/" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper"></nav>


<header id="top">
    <div class="row" style="background: #E6E610;">
        <div class="col-lg-12 text-center" style="background: #99FFFF;">

            <!-- <img class="img-portfolio img-responsive" src="img/logo.jpg" width="100px" height="100px">  -->
            <h2>COMPANY STOCK PREDICTION</h2>
            <br>
        </div>
    </div>
    </div>
</header>


<div class="row" style="background: #FFFFFF"><br><br><br><br>
    <div class="col-xs-2"></div>
    <div class="col-xs-6">
        <div id="container1" class="chartSize borderShadow"
             style="min-width: 650px; height: 400px; margin: 0 auto; border-radius: 10px; border: 3px solid #000000;"></div>
    </div>

</div>

<div class="row" style="background: #FFFFFF"><br><br><br><br>

    <div class="col-xs-3">
        <div class="pull-right"><br><br><br><br><br>
            <!--<a class="btn btn-lg btn-light">Start Prediction</a>-->
            <button id="show" style="font-size: 19px" class="btn btn-primary"
                    onclick="generateMeterResults();">Start
                Prediction
            </button>
        </div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-5">
        <div id="container4" class="chartSize borderShadow">
            <div id="container-speed" style="width: 600px; height: 300px; float: left"></div>
        </div>
    </div>

</div>


<div class="row" style="background: white"><br><br><br>
    <div class="col-xs-2"></div>
    <div class="col-sm-8 text-center" id="container10" class="chartSize"
         style="box-shadow: 5px 5px 22px 0px #ffffff; width: 900px; height: 400px; margin: 0 auto; border-radius: 10px; border: 3px solid #000000;">
        <div class="vis-container4">Scatter Plot</div>
    </div>
</div>

<div class="row" style="background: #FFFFFF;"><br><br><br>

    <div class="col-xs-1"></div>
    <div class="col-xs-5" id="container3" class="chartSize"
         style="box-shadow: 5px 5px 22px 0px #2C3E50; width: 500px; height: 400px; margin: 0 auto; border-radius: 10px; border: 3px solid #000000;"></div>

    <div class="col-xs-6">


        <div id="tweetBox" class="pull-right borderShadow">
            <table border="1" style="max-width: 550px; pull-right: 0">
                <thead>
                <tr style="background: #99FFFF;">
                    <th>
                        <h3>
                            <center>Tweets
                                <!-- <img src="images/Twitter.png" width="30px" height="30px"> -->
                            </center>
                        </h3>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2">
                        <div class="scrollit">
                            <table border="1">

                                <% for(var i = 0;i < tweets.length; i++) { %>
                                <tr>
                                    <td style="padding-left: 10px;"><p>

                                        <div class="row" style="background: #FAFAFA">
                                            <div class="col-xs-2">
                                                <img src="images/tweet.png" width="40px" height="40px">
                                            </div>
                                            <div class="col-xs-9">
                                                <font face="Comic Sans MS">
                                                    <%= tweets[i] %>
                                                </font>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% } %>

                            </table>
                        </div>
                    </td>
                </tbody>
            </table>

        </div>

    </div>
</div>

</div>
</div>
</div>
<div class="row" style="background: #EDEEFA;"><br><br><br></div>
<footer>
    <section id="contact" class="contact">
        <div>
            <div class="row" style="background: #E6E610;">
                <div class="col-lg-12 text-center" style="background: #99FFFF;">
                    <h2><strong>TEAM Data Crunchers</strong>
                    </h2>
                    <h4>
                        <p>Ashish Srivastava<br>Chhavi Gupta<br>Jay Vora<br>Shubhi Yede<br>Surbhi Garg</p></h4>
                    <ul class="list-unstyled">
                        <li><strong>SAN JOSE STATE UNIVERSITY</strong></li>
                        <li>1 Washington Square, San Jose, CA 95192</li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Team Data crunchers</p>
                </div>
            </div>
        </div>
    </section>
</footer>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!--<script src="javascripts/generateCharts.js"></script>-->
</body>
</html>